WcfServiceLibrary1/Client/Connected Services/TaskLibrary/TaskLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TaskLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TaskLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BitcoinBlock">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bits" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Nonce" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Time" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Version" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="hashMerkleRoot" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="hashPrevBlock" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BitcoinBlock" nillable="true" type="tns:BitcoinBlock" />
</xs:schema>