WcfServiceLibrary1/Client/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" />
  <xs:element name="RegisterMe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RegisterMeResult" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="client" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetQuestionResult" nillable="true" type="q3:TupleOfBaseQuestionBaseContextlP23Xxnk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="client" type="q4:guid" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" minOccurs="0" name="cont" nillable="true" type="q5:BaseContext" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" minOccurs="0" name="ans" nillable="true" type="q6:BaseAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutAnswerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PutQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" minOccurs="0" name="q" nillable="true" type="q7:BaseQuestion" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" minOccurs="0" name="c" nillable="true" type="q8:ArrayOfBaseContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>