WcfServiceLibrary1/Client/Connected Services/ServiceReference1/System.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" />
  <xs:complexType name="TupleOfBaseQuestionBaseContextlP23Xxnk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BaseQuestion" Namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" />
          <GenericParameter Name="BaseContext" Namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" name="m_Item1" nillable="true" type="q1:BaseQuestion" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" name="m_Item2" nillable="true" type="q2:BaseContext" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfBaseQuestionBaseContextlP23Xxnk" nillable="true" type="tns:TupleOfBaseQuestionBaseContextlP23Xxnk" />
</xs:schema>