WcfServiceLibrary1/Client/Connected Services/ServiceReference1/WcfServiceLibrary1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseQuestion">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseQuestion" nillable="true" type="tns:BaseQuestion" />
  <xs:complexType name="BaseContext">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseContext" nillable="true" type="tns:BaseContext" />
  <xs:complexType name="BaseAnswer">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseAnswer" nillable="true" type="tns:BaseAnswer" />
  <xs:complexType name="ArrayOfBaseContext">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseContext" nillable="true" type="tns:BaseContext" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseContext" nillable="true" type="tns:ArrayOfBaseContext" />
</xs:schema>